{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block htmlTitle %}Deputy{% endblock %}
{% block pageTitle %}Deputy{% endblock %}

{% block content %}
	document add

	<hr/>ORDER: id={{ order.id }} | {{ order.type }}| {{ order.subType }} | {{ order.hasAssetsAboveThreshold }}

    Deputys added

    <a href="{{ path('order-summary', {'orderId': order.id}) }}">Summary</a>

{% endblock %}
