{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block htmlTitle %} Attach {{ docType | upper }}{% endblock %}
{% block pageTitle %} Attach {{ docType | upper }}{% endblock %}

{% block content %}

    {# TODO move to support title #}
    {{ order.client.clientName }}: {{ ('order.' ~ order.type) | trans }}

    {{ form_start(form) }}

    <h2>1. Select the file</h2>

    Click 'Choose File' below to find the document you want to upload

    You can only upload PDF, JPG and PNG files, and they cannot be larger than 15MB.
    <br/>  <br/>
    {{ form_row(form.file, {'label': false}) }}

    <h2>2. Upload the file</h2>

    {{ form_row(form.submit, {'label': 'Upload file and attach to order'}) }}

    {{ form_end(form) }}

    <br/><br/>

    <a href="{{ path('order-summary', {'orderId': order.id}) }}">Back to Summary</a>

{% endblock %}
