{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block htmlTitle %}Deputy{% endblock %}
{% block pageTitle %}Deputy{% endblock %}

{% block content %}
	document add

	<hr/>ORDER: id={{ order.id }} | {{ order.type }}| {{ order.subType }} | {{ order.hasAssetsAboveThreshold }}

    Deputys added

    <table class="width-two-thirds">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Appointment type</th>
            <th scope="col">Order type</th>
            <th scope="col">Deputy type</th>
            <th scope="col">Address</th>
            <th scope="col">Q2_6 answer</th>
            <th scope="col">Section 4 answered</th>
        </tr>
        </thead>
        <tbody>
        {% if deputies | length %}
            {% for deputy in deputies %}

                <tr>
                    <td>
                        {{ deputy.fullname }}
                    </td>
                    <td>
                        {{ deputy.emailAddress }}
                    </td>
                    <td>
                        {{ deputy.appointmentType }}
                    </td>
                    <td>
                        {{ deputy.orderType }}
                    </td>
                    <td>
                        {{ deputy.deputyType }}
                    </td>
                    <td>
                        {{ deputy.addressFormatted }}
                    </td>
                    <td>
                        {{ deputy.deputyAnswerQ26 }}
                    </td>
                    <td>
                        {{ deputy.deputyS4ResponsesAnsweredNo }}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">No deputies added</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
