{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block htmlTitle %}Create Order{% endblock %}
{% block pageTitle %}Property and finance order summary{% endblock %}

{% block content %}
    <p class="govuk-heading-l">Order details</p>


    <table class="documents-table check-your-answers">
        <thead>
        <tr>
            <th scope="col" class="">Question</th>
            <th scope="col" class="">Answer</th>
            <th scope="col" class="width-fifth align-right"></th>
        </tr>
        </thead>
        <tbody>

        {# assets question only for PA orders #}
        {% if order.type == constant('AppBundle\\Entity\\Order::TYPE_PA') %}
            <tr>
                <td>
                    Are the bond or assets above £21,000?
                </td>
                <td class="behat-region-has-assets">
                    {{ ('order.hasAsssets.' ~ order.hasAssetsAboveThreshold) | trans }}
                </td>
                <td class="align-right">
                    <a href="{{ path('order-edit', {'orderId': order.id}) }}" class="bold-small action-link">Edit</a>
                </td>
            </tr>
        {% endif %}

        <tr>
            <td>
                Order subtype
            </td>
            <td class="behat-region-order-subtype">
                {{ ('order.subType.' ~ order.subType) | trans }}
            </td>
            <td class="align-right">
                <a href="{{ path('order-edit', {'orderId': order.id}) }}" class="bold-small action-link">Edit</a>
            </td>
        </tr>

        <tr>
            <td>
                Appointment type
            </td>
            <td class="behat-region-app-type">
                {{ ('order.appointmentType.' ~ order.appointmentType) | trans }}
            </td>
            <td class="align-right">
                <a href="{{ path('order-edit', {'orderId': order.id}) }}" class="bold-small action-link">Edit</a>
            </td>
        </tr>

        </tbody>
    </table>


    <h2 class="heading-medium">Deputies</h2>
    <table class="width-two-thirds">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Deputy type</th>
            <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        {% if order.deputies | length %}
            {% for deputy in order.deputies %}

                <tr>
                    <td>
                        {{ deputy.fullname }}
                    </td>
                    <td>
                        {{ deputy.emailAddress }}
                    </td>
                    <td>
                        {{ deputy.deputyType }}
                    </td>
                    <td>
                        {{ deputy.organisationName }}
                        {{ deputy.addressFormatted }}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">No deputies added</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <p class="text">Add the details of each deputy named on the order.</p>



    <a href="{{ path('deputy-add', {'orderId': order.id}) }}" class="bold-small action-link"><span
                class="icon icon-plus"></span>
        Add a deputy
    </a>

    <h2 class="heading-medium">Order documents</h2>

    <div class="text push--top">
        <p>Attach the documents listed below and any other relevant documents.</p>
    </div>

    <table class="documents-table check-your-answers push--bottom">
        <thead>
        <tr>
            <th scope="col" class="width-third">Document</th>
            <th scope="col" class="width-half">Status</th>
            <th scope="col" class="width-fifth align-right"></th>
        </tr>
        </thead>
        <tbody>
        {% for docType in order.expectedDocuments %}
            {% set doc = order.getDocumentsByType(docType) | first %}
            <tr>
                <td>{{ ('document.type.' ~ docType) | trans }}</td>
                <td>
                    {% if doc | length %}
                        Uploaded
                    {% else %}
                        Required
                    {% endif %}
                </td>
                <td class="align-right">
                    <a href="{{
                        doc | length ?
                        path('document-remove', {'orderId': order.id, 'id': doc.id})
                        : path('document-add', {'orderId': order.id, 'docType': docType})
                    }}"
                       class="bold-small action-link right">
                        {% if doc | length %}
                        <span class=""></span>Remove
                        {% else %}
                        <span class=""></span>Add document
                        {% endif %}
                    </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2 class="heading-small push--bottom-half">Other relevant documents</h2>

    {% set otherDocs = order.getDocumentsByType(constant('AppBundle\\Entity\\Document::TYPE_ADDITIONAL')) %}
    {% if otherDocs | length %}
    <table class="check-your-answers push--bottom">
        <thead>
        <tr><th>File name</th>
            <th>Date attached</th>
            <th><span class="visually-hidden">Actions</span></th>
        </tr></thead>
        <tbody class="behat-region-document-list">
        {% for doc in otherDocs %}
            <tr>
                <td>
                    {{ doc.file }}
                </td>
                <td class="numeric-small">29 March 2018 18:13</td>
                <td class="change-answer width-sixth soft-half--left">
                    <a href="{{ path('document-remove', {'orderId': order.id, 'id': doc.id}) }}" class="behat-link-delete-documents-button action-link">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}



    <div class="text push--bottom">
        <a href="{{ path('document-add', {'orderId': order.id, 'docType': constant('AppBundle\\Entity\\Document::TYPE_ADDITIONAL') }) }}"
           class="bold-small action-link"><span class="icon icon-plus"></span>Add additional document</a>
    </div>

    <br/>
    <br/>
    <br/>
    {% if order.readyToServe %}
        <a class="govuk-button" href="{{ path('order-declaration', {'orderId': order.id}) }}" >Continue</a>
    {% else %}
    <div class="alert-info panel panel-border-narrow text">
        <span class="icon icon-information"></span>
        <div class="alert-message">

            <p>To continue, please add one or more deputies and upload all the required order documents.</p>

        </div>
    </div>
    <button class="govuk-button" disabled="disabled">Continue</button>
    {% endif %}

{% endblock %}