{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block htmlTitle %}{{ ('order.' ~ order.type) | trans }} order summary{% endblock %}
{% block pageTitle %}
    <span class="govuk-caption-l">{{ order.client.caseNumber }} {{ order.client.clientName }}</span>
    <h1 class="govuk-heading-l">{{ ('order.' ~ order.type) | trans }} order summary</h1>
{% endblock %}

{% block content %}
    <h2 class="govuk-heading-m">Order details</h2>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Question</th>
                <th scope="col" class="govuk-table__header">Answer</th>
                <th scope="col" class="govuk-table__header"></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">

        {# assets question only for PA orders #}
        {% if order.type == constant('AppBundle\\Entity\\Order::TYPE_PA') %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    Are the bond or assets above £21,000?
                </td>
                <td class="govuk-table__cell behat-region-has-assets">
                    {% if order.hasAssetsAboveThreshold %}
                        {{ ('order.hasAssets.' ~ order.hasAssetsAboveThreshold) | trans }}
                    {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                    <a href="{{ path('order-edit', {'orderId': order.id}) }}" class="govuk-link govuk-!-font-weight-bold">Edit</a>
                </td>
            </tr>
        {% endif %}

        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Order subtype</td>
            <td class="govuk-table__cell behat-region-order-subtype">
                {% if order.subType %}
                    {{ ('order.subType.' ~ order.subType) | trans }}
                {% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="{{ path('order-edit', {'orderId': order.id}) }}" class="govuk-link govuk-!-font-weight-bold">Edit</a>
            </td>
        </tr>

        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                Appointment type
            </td>
            <td class="govuk-table__cell behat-region-app-type">
                {% if order.appointmentType %}
                    {{ ('order.appointmentType.' ~ order.appointmentType) | trans }}
                {% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="{{ path('order-edit', {'orderId': order.id}) }}" class="govuk-link govuk-!-font-weight-bold">Edit</a>
            </td>
        </tr>

        </tbody>
    </table>


    {# ----- DEPUTIES ----- #}

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Deputies</h2>

    {% if order.deputies | length %}
        {% for deputy in order.deputies %}
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Deputy {{ loop.index }}</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">
                            <a href="{{ path('deputy-edit', {'deputyId': deputy.id, 'orderId': order.id}) }}" class="govuk-!-margin-right-3" id="edit-deputy-{{ loop.index }}">Edit</a>
                            <a href="#">Remove</a>
                        </th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Deputy type</td>
                        <td class="govuk-table__cell behat-region-deputy1-deputyType">{{ ('deputy.type.' ~ deputy.deputyType) | trans }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Name</td>
                        <td class="govuk-table__cell behat-region-deputy1-fullName">{{ deputy.fullname }}</td>
                    </tr>
                    {% if deputy.emailAddress %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Email address</td>
                            <td class="govuk-table__cell behat-region-deputy1-emailAddress">{{ deputy.emailAddress }}</td>
                        </tr>
                    {% endif %}
                    {% if deputy.dateOfBirth %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Date of birth</td>
                            <td class="govuk-table__cell behat-region-deputy1-dateOfBirth">{{ deputy.dateOfBirth | date("j F Y") }}</td>
                        </tr>
                    {% endif %}
                    {% if deputy.daytimeContactNumber %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Daytime contact number</td>
                            <td class="govuk-table__cell behat-region-deputy1-daytimeContactNumber">{{ deputy.daytimeContactNumber }}</td>
                        </tr>
                    {% endif %}
                    {% if deputy.eveningContactNumber %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Evening contact number</td>
                            <td class="govuk-table__cell behat-region-deputy1-eveningContactNumber">{{ deputy.eveningContactNumber }}</td>
                        </tr>
                    {% endif %}
                    {% if deputy.mobileContactNumber %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Mobile contact number</td>
                            <td class="govuk-table__cell behat-region-deputy1-mobileContactNumber">{{ deputy.mobileContactNumber }}</td>
                        </tr>
                    {% endif %}
                    {% if deputy.addressFormatted %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Address</td>
                            <td class="govuk-table__cell behat-region-deputy1-address">{{ deputy.addressFormatted }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <p>Add the details of each deputy named on the order.</p>
    {% endif %}

    <p>
        <a href="{{ path('deputy-add', {'orderId': order.id}) }}" id="add-deputy" class=" govuk-link govuk-!-font-weight-bold">
            <span class="govuk-icon govuk-icon--plus"></span>Add a deputy
        </a>
    </p>


    {# ----- DOCUMENTS ----- #}

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Order documents</h2>
    <p>Attach the documents listed below and any other relevant documents.</p>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr>
                <th scope="col" class="govuk-table__header">Document</th>
                <th scope="col" class="govuk-table__header">File name</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header"></th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">
        {% for docType, docIsRequired in order.getAcceptedDocumentTypes() %}
            {% set doc = order.getDocumentsByType(docType) | first %}

            <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ ('document.type.' ~ docType) | trans }}</td>
                <td class="govuk-table__cell behat-region-document-{{ docType }}-filename">
                    {% if doc %}
                        {{ doc.filename }}
                    {% endif %}
                </td>
                <td class="govuk-table__cell">
                    {% if doc %}
                        Uploaded
                    {% else %}
                        {% if docIsRequired %}
                            Required
                        {% else %}
                            Required if deputy has completed section 2
                        {% endif %}
                    {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric behat-region-documents-{{ docType }}-actions">
                    {% if doc | length %}
                        <a href="{{ path('document-remove', {'orderId': order.id, 'id': doc.id}) }}" class="behat-link-remove-document-{{ docType }} govuk-link govuk-!-font-weight-bold">Remove</a>
                    {% else %}
                        <a href="{{ path('document-add', {'orderId': order.id, 'docType': docType}) }}" class="behat-link-add-document-{{ docType }} govuk-link govuk-!-font-weight-bold">
                            <span class="govuk-icon govuk-icon--plus behat-link"></span>Add document
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3 class="govuk-heading-s">Other relevant documents</h3>

    {% set otherDocs = order.getDocumentsByType(constant('AppBundle\\Entity\\Document::TYPE_ADDITIONAL')) %}
    {% if otherDocs | length %}

        <h2 class="govuk-heading-m">Attached documents</h2>

        <table class="govuk-table behat-region-documents-additional-filenames">
            <thead class="govuk-table__head">
                <tr>
                    <th scope="col" class="govuk-table__header">File name</th>
                    <th scope="col" class="govuk-table__header">Date attached</th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
            </thead>

            <tbody class="govuk-table__body">
            {% for doc in otherDocs %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        {% if doc.filename | length %}
                            {{ doc.filename }}
                        {% endif %}</td>
                    <td class="govuk-table__cell">{{ doc.createdAt | date('j F H:i') }}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric behat-region-documents-additional-actions">
                        <a href="{{ path('document-remove', {'orderId': order.id, 'id': doc.id}) }}" class="behat-link-delete-documents-button govuk-link govuk-!-font-weight-bold">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}



    <p class="govuk-!-margin-bottom-9 behat-region-documents-additional">
        <a href="{{ path('document-add', {'orderId': order.id, 'docType': constant('AppBundle\\Entity\\Document::TYPE_ADDITIONAL') }) }}"
           class="govuk-link govuk-!-font-weight-bold behat-link-add-document-additional">
           <span class="govuk-icon govuk-icon--plus"></span>Add additional document
       </a>
    </p>

    {% if order.readyToServe %}
        <a id="serve_order_button" class="govuk-button" href="{{ path('order-declaration', {'orderId': order.id}) }}" >Continue</a>
    {% else %}
        <div class="govuk-alert govuk-alert--info">
            <span class="govuk-icon govuk-icon--info"></span>
            <div class="govuk-alert__message">
                <p>To continue, please add one or more deputies and upload all the required order documents.</p>
            </div>
        </div>
        <button class="govuk-button" disabled="disabled">Continue</button>
    {% endif %}

{% endblock %}
