{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block htmlTitle %}Create Order{% endblock %}
{% block pageTitle %}Property and finance order summary{% endblock %}

{% block content %}
    <h2 class="govuk-heading-m">Order details</h2>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Question</th>
                <th scope="col" class="govuk-table__header">Answer</th>
                <th scope="col" class="govuk-table__header"></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">

        {# assets question only for PA orders #}
        {% if order.type == constant('AppBundle\\Entity\\Order::TYPE_PA') %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    Are the bond or assets above £21,000?
                </td>
                <td class="govuk-table__cell behat-region-has-assets">
                    {% if order.hasAssetsAboveThreshold %}
                        {{ ('order.hasAssets.' ~ order.hasAssetsAboveThreshold) | trans }}
                    {% endif %}
                </td>
                <td class="govuk-table__cell">
                    <a href="{{ path('order-edit', {'orderId': order.id}) }}" class="govuk-link">Edit</a>
                </td>
            </tr>
        {% endif %}

        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Order subtype</td>
            <td class="govuk-table__cell behat-region-order-subtype">
                {% if order.subType %}
                    {{ ('order.subType.' ~ order.subType) | trans }}
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                <a href="{{ path('order-edit', {'orderId': order.id}) }}" class="govuk-link">Edit</a>
            </td>
        </tr>

        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                Appointment type
            </td>
            <td class="govuk-table__cell behat-region-app-type">
                {% if order.appointmentType %}
                    {{ ('order.appointmentType.' ~ order.appointmentType) | trans }}
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                <a href="{{ path('order-edit', {'orderId': order.id}) }}" class="govuk-link">Edit</a>
            </td>
        </tr>

        </tbody>
    </table>


    {# ----- DEPUTIES ----- #}

    <h2 class="govuk-heading-m">Deputies</h2>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr>
                <th scope="col" class="govuk-table__header">Deputy 1</th>
                <th scope="col" class="govuk-table__header">
                    <a href="#">Edit</a>
                    <a href="#">Remove</a>
                </th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% if order.deputies | length %}
            {% for deputy in order.deputies %}
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Name</th>
                    <td class="govuk-table__cell">{{ deputy.fullname }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Email address</th>
                    <td class="govuk-table__cell">{{ deputy.emailAddress }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Deputy type</th>
                    <td class="govuk-table__cell">{{ deputy.deputyType }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Organisation</th>
                    <td class="govuk-table__cell">{{ deputy.organisationName }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Address</th>
                    <td class="govuk-table__cell">{{ deputy.addressFormatted }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">No deputies added</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <p>Add the details of each deputy named on the order.</p>
    <p>
        <a href="{{ path('deputy-add', {'orderId': order.id}) }}" class="govuk-link">
            <span class="icon icon-plus">+</span>
            Add a deputy
        </a>
    </p>


    {# ----- DOCUMENTS ----- #}

    <h2 class="govuk-heading-m">Order documents</h2>
    <p>Attach the documents listed below and any other relevant documents.</p>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr>
                <th scope="col" class="govuk-table__header">Document</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header"></th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">
        {% for docType in order.expectedDocuments %}
            {% set doc = order.getDocumentsByType(docType) | first %}

            <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ ('document.type.' ~ docType) | trans }}</td>
                <td class="govuk-table__cell">
                    {% if doc | length %}
                        Uploaded
                    {% else %}
                        Required
                    {% endif %}
                </td>
                <td class="govuk-table__cell">
                    <a href="{{
                        doc | length ?
                        path('document-remove', {'orderId': order.id, 'id': doc.id})
                        : path('document-add', {'orderId': order.id, 'docType': docType})
                    }}"
                       class="bold-small action-link right">
                        {% if doc | length %}
                            Remove
                        {% else %}
                            Add document
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3 class="govuk-heading-s">Other relevant documents</h3>

    {% set otherDocs = order.getDocumentsByType(constant('AppBundle\\Entity\\Document::TYPE_ADDITIONAL')) %}
    {% if otherDocs | length %}

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr>
                    <th scope="col" class="govuk-table__header">File name</th>
                    <th scope="col" class="govuk-table__header">Date attached</th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
            </thead>

            <tbody class="govuk-table__body behat-region-document-list">
            {% for doc in otherDocs %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ doc.file }}</td>
                    <td class="govuk-table__cell">29 March 2018 18:13</td>
                    <td class="govuk-table__cell">
                        <a href="{{ path('document-remove', {'orderId': order.id, 'id': doc.id}) }}" class="behat-link-delete-documents-button govuk-link">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}



    <p>
        <a href="{{ path('document-add', {'orderId': order.id, 'docType': constant('AppBundle\\Entity\\Document::TYPE_ADDITIONAL') }) }}"
           class="govuk-link"><span class="icon icon-plus">+</span> Add additional document</a>
    </p>

    <br/>
    <br/>
    <br/>
    {% if order.readyToServe %}
        <a class="govuk-button" href="{{ path('order-declaration', {'orderId': order.id}) }}" >Continue</a>
    {% else %}
        <div class="govuk-alert govuk-alert--info">
            <span class="govuk-icon govuk-icon--info"></span>
            <div class="govuk-alert__message">
                <p>To continue, please add one or more deputies and upload all the required order documents.</p>
            </div>
        </div>
        <button class="govuk-button" disabled="disabled">Continue</button>
    {% endif %}

{% endblock %}