{% extends 'AppBundle:Layouts:base-template.html.twig' %}
{% form_theme form 'AppBundle:Form:govuk_frontend.html.twig' %}

{% block htmlTitle %}Add deputy{% endblock %}
{% block pageTitle %}Add deputy{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        <a href="{{ path('order-summary', {'orderId': order.id}) }}">back to summary</a>
        </div>

        <div class="govuk-grid-column-one-third">
            //TODO remove this ?
            <p><strong>Case number</strong><br>{{ client.caseNumber }}</p>
            <p><strong>Client</strong><br>{{ client.clientName }}</p>
            <p><strong>Order ID</strong><br>id={{ order.id }}</p>
            <p><strong>Order types</strong><br>
                {#{% for t in order.types %}#}
                    {#{{ t.type }} (id={{ t.id }}),#}
                {#{% endfor %}#}
            </p>
            <p><strong>Order subtype</strong><br>{{ order.subType }}</p>
            <p><strong>Bond or assets above £21,000?</strong><br>{{ order.hasAssetsAboveThreshold }}</p>
        </div>
    </div>
{% endblock %}
