{% extends 'AppBundle:Layouts:base-template.html.twig' %}
{% form_theme form 'AppBundle:Form:govuk_frontend.html.twig' %}
{% import 'AppBundle:Macros:_macros.html.twig' as macro %}

{% block htmlTitle %}{{ ('order.' ~ order.type) | trans }} deputy details{% endblock %}
{% block pageTitle %}
    <span class="govuk-caption-l">{{ order.client.caseNumber }} {{ order.client.clientName }}</span>
    <h1 class="govuk-heading-l">{{ ('order.' ~ order.type) | trans }}: deputy details</h1>
{% endblock %}


{% block validationSummary %}
    {{ macro.errorSummary(form) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ form_start(form) }}
                {{ form_row(form.deputyType) }}

                {{ form_row(form.forename) }}
                {{ form_row(form.surname) }}
                {{ form_row(form.emailAddress) }}
                {{ form_row(form.dateOfBirth) }}

                {{ form_row(form.daytimeContactNumber) }}
                {{ form_row(form.eveningContactNumber) }}
                {{ form_row(form.mobileContactNumber) }}

                <h2 class="govuk-heading-m">Deputy's address</h2>

                {{ form_row(form.addressLine1) }}
                {{ form_row(form.addressLine2) }}
                {{ form_row(form.addressLine3.setRendered(false)) }}
                {{ form_row(form.addressTown) }}
                {{ form_row(form.addressCounty, { 'attr': {'class': 'govuk-!-width-two-thirds'}}) }}
                {{ form_row(form.addressPostcode, { 'attr': {'class': 'govuk-input--width-10'}}) }}

                {{ form_widget(form.saveAndContinue) }}
                <a href="{{ path('order-summary', {'orderId': order.id}) }}" class="govuk-link govuk-!-margin-left-3 govuk-!-padding-top-2 govuk-link--button">Cancel</a>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
