<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>

    <meta charset="utf-8" />
    <title>{% block htmlTitle %}{% endblock %} - Digicop - GOV.UK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ 'images/favicon.ico' | assetUrl }}" type="image/x-icon" />
    <link rel="mask-icon" href="{{ 'images/govuk-mask-icon.svg' | assetUrl }}" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'images/govuk-apple-touch-icon-180x180.png' | assetUrl }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ 'images/govuk-apple-touch-icon-167x167.png' | assetUrl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'images/govuk-apple-touch-icon-152x152.png' | assetUrl }}">
    <link rel="apple-touch-icon" href="{{ 'images/govuk-apple-touch-icon.png' | assetUrl }}">

    <link href="{{ 'stylesheets/application.css'| assetUrl }}"  rel="stylesheet" type="text/css">

    {# The default og:image is added below head so that scrapers see any custom metatags first, and this is just a fallback #}
    <meta property="og:image" content="{{ 'images/govuk-opengraph-image.png' | assetUrl }}">
</head>

<body class="govuk-template__body">
    {% block bodyStart %}{% endblock %}
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% block skipLink %}
        <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    {% endblock %}

    {# TODO: Cookie banner should be here. Look at app-cookie-banner on GDS #}

    {% block header %}
        <header class="govuk-header" role="banner" data-module="header">
            <div class="govuk-header__container govuk-width-container">

                <div class="govuk-header__content">

                    <a href="/" class="govuk-header__link govuk-header__link--service-name">DigiCop</a>

                    <button role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
                    <nav>
                        <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
                            {% set currentRoute = app.request.attributes.get('_route') %}
                            <li class="govuk-header__navigation-item {{ currentRoute =='homepage' ? 'govuk-header__navigation-item--active' : '' }}">
                                <a class="govuk-header__link" href="{{ path('homepage') }}">Home</a>
                            </li>
                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="govuk-header__navigation-item {{ currentRoute =='login' ? 'govuk-header__navigation-item--active' : '' }}">
                                <a class="govuk-header__link" href="{{ path('login') }}">Sign in</a>
                            </li>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="govuk-header__navigation-item {{ currentRoute =='case-list' ? 'govuk-header__navigation-item--active' : '' }}">
                                <a class="govuk-header__link" href="{{ path('case-list') }}">Dashboard</a>
                            </li>
                            <li class="govuk-header__navigation-item">
                                <a class="govuk-header__link" href="/logout">Sign out</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    {% endblock %}

    {% block main %}
        <div class="govuk-width-container">

            {% block beforeContent %}
                {# <a href="#" class="govuk-back-link">Back</a> #}
            {% endblock %}

            <main class="govuk-main-wrapper" id="main-content" role="main">
                {% block validationSummary %}{% endblock %}
                {% block notifications %}
                    {# <div class="govuk-alert govuk-alert--notification">
                        <span class="govuk-icon govuk-icon--notification"></span>
                        <div class="govuk-alert__message">
                            <p>Nobis at eos odit. In totam cupiditate corrupti aut reprehenderit ea repudiandae. Aut enim assumenda molestiae.</p>
                        </div>
                    </div> #}
                {% endblock %}
                <h1 class="govuk-heading-xl">{% block pageTitle %}Page title{% endblock %}</h1>
                {% block content %}{% endblock %}
            </main>

        </div>
    {% endblock %}

    {% block footer %}
        <footer class="govuk-footer" role="contentinfo">
            <div class="govuk-width-container">

                <div class="govuk-footer__meta">
                    <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                        <h2 class="govuk-visually-hidden">Support links</h2>
                        <ul class="govuk-footer__inline-list">
                            <li class="govuk-footer__inline-list-item">
                                Built by <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian" class="govuk-footer__link">the Office of the Public Guardian</a>
                            </li>
                        </ul>

                    </div>
                    <div class="govuk-footer__meta-item">
                        <a
                            class="govuk-footer__link govuk-footer__copyright-logo"
                            href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
                        >© Crown copyright</a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ 'js/application.js'| assetUrl }}"></script>
    {% endblock %}

    {# TODO: Add build tag to footer #}

    {% block bodyEnd %}{% endblock %}

</body>
</html>
