{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block htmlTitle %}Cases{% endblock %}
{% block pageTitle %}
    <h1 class="govuk-heading-xl">Cases</h1>
{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="push--top">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="govuk-form-group">
        <form method="GET" action="{{ path(app.request.attributes.get('_route')) }}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-visually-hidden">Search</legend>
                <label for="search" class="govuk-label">Search by client name or court order number</label>
                <input type="text" id="search" name="q" value="{{  filters.q }}" class="govuk-input govuk-!-width-one-half" />
                <input type="hidden" name="type" value="{{  filters.type }}" />
                <input class="govuk-button" type="submit" value="Search" id="search_submit" />
            </fieldset>
        </form>
    </div>

    <div class="govuk-tabs" data-module="tabs">
        <h2 class="govuk-tabs__title">
            Contents
        </h2>
        <ul class="govuk-tabs__list">
                <a class="govuk-tabs__tab behat-link-pending-tab" href="{{ path('case-list', {'type': 'pending', 'q': filters.q}) }}" {% if filters.type == 'pending' %}aria-selected="true"{% endif %}>
                    Pending ({{ counts.pending }})
                </a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab behat-link- behat-link-served-tab" href="{{ path('case-list', {'type': 'served', 'q': filters.q}) }}" {% if filters.type == 'served' %}aria-selected="true"{% endif %}>
                    Served Recently ({{ counts.served }})
                </a>
            </li>
        </ul>

        <section class="govuk-tabs__panel">

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Case number</th>
                        <th class="govuk-table__header" scope="col">Order type</th>
                        <th class="govuk-table__header" scope="col">Client</th>
                        {% if filters.type == 'pending' %}
                            <th class="govuk-table__header" scope="col">Order date</th>
                            <th class="govuk-table__header" scope="col">Order issued</th>
                        {% else %}
                            <th class="govuk-table__header" scope="col">Date served</th>
                            <th class="govuk-table__header" scope="col">Documents</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for order in orders %}
                        {% set client = order.client %}
                        <tr class="govuk-table__row behat-region-order-{{ client.caseNumber }}-{{ order.type }}" >
                            <td class="govuk-table__cell">
                                <a href="{{ path('order-summary', {'orderId': order.id}) }}" id="order-{{ client.caseNumber }}-{{ order.type }}">
                                    {{ client.caseNumber }}
                                </a>
                            </td>
                            <td class="govuk-table__cell">{{ ('order.' ~ order.type) | trans }}</td>
                            <td class="govuk-table__cell">{{ client.clientName }}</td>
                            {% if filters.type == 'pending' %}
                                <td class="govuk-table__cell">
                                    {{ order.createdAt | date('j/m/Y') }}
                                </td>
                                <td class="govuk-table__cell">
                                    issued date
                                </td>
                            {% else %}
                                <td class="govuk-table__cell">
                                    {{ order.servedAt | date('j/m/Y') }}
                                </td>
                                <td class="govuk-table__cell">
                                    {% for d in order.documents %}
                                        {{ d.file }},
                                    {% endfor %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}