{% extends 'base.html.twig' %}

{% block htmlTitle %}Orders{% endblock %}
{% block pageTitle %}
    <h1 class="govuk-heading-xl">Orders</h1>
{% endblock %}

{% block content %}

    <div class="govuk-form-group">
        <form method="GET" action="{{ path(app.request.attributes.get('_route')) }}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-visually-hidden">Search</legend>
                <label for="search" class="govuk-label">Search by case number</label>
                <input type="text" id="search" name="q" value="{{  filters.q }}" class="govuk-input govuk-!-width-one-half" />
                <input type="hidden" name="type" value="{{  filters.type }}" />
                <input class="govuk-button" type="submit" value="Search" id="search_submit" />
            </fieldset>
        </form>
    </div>

    <div class="govuk-tabs">
        <h2 class="govuk-tabs__title">
            Contents
        </h2>
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item" role="presentation">
                <a class="govuk-tabs__tab behat-link-pending-tab {{ filters.type == 'pending' ? 'govuk-tabs__tab--selected' }}" href="{{ path('case-list', {'type': 'pending', 'q': filters.q}) }}" {% if filters.type == 'pending' %}aria-selected="true"{% endif %}>
                    To do ({{ counts.pending }})
                </a>
            </li>
            <li class="govuk-tabs__list-item" role="presentation">
                <a class="govuk-tabs__tab behat-link- behat-link-served-tab {{ filters.type == 'served' ? 'govuk-tabs__tab--selected' }}" href="{{ path('case-list', {'type': 'served', 'q': filters.q}) }}" {% if filters.type == 'served' %}aria-selected="true"{% endif %}>
                    Served ({{ counts.served }})
                </a>
            </li>
        </ul>

        <section class="govuk-tabs__panel">

            {% if orders | length > 0 %}

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Case number</th>
                            <th class="govuk-table__header" scope="col">Order type</th>
                            <th class="govuk-table__header" scope="col">Client</th>
                            {% if filters.type == 'pending' %}
                                <th class="govuk-table__header" scope="col">Order made</th>
                                <th class="govuk-table__header" scope="col">Order issued</th>
                            {% else %}
                                <th class="govuk-table__header" scope="col">Date served</th>
                                <th class="govuk-table__header" scope="col">Documents</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for order in orders %}
                            {% set client = order.client %}
                            <tr class="govuk-table__row behat-region-order-{{ client.caseNumber }}-{{ order.type }}" >
                                <td class="govuk-table__cell">
                                    {% if order.servedAt %}
                                         {{ client.caseNumber }}
                                    {% else %}
                                        <a href="{{ path('order-summary', {'orderId': order.id}) }}" id="order-{{ client.caseNumber }}-{{ order.type }}">
                                            {{ client.caseNumber }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="govuk-table__cell">{{ ('order.' ~ order.type) | trans }}</td>
                                <td class="govuk-table__cell">{{ client.clientName }}</td>
                                {% if filters.type == 'pending' %}
                                    <td class="govuk-table__cell">
                                        {{ order.madeAt | date('d/m/Y') }}
                                    </td>
                                    <td class="govuk-table__cell">
                                        {{ order.issuedAt | date('d/m/Y') }}
                                    </td>
                                {% else %}

                                    <td class="govuk-table__cell">
                                        {{ order.servedAt | date('d/m/Y') }}
                                    </td>

                                    <td class="govuk-table__cell">
                                        <details class="govuk-details govuk-!-margin-bottom-0">
                                            <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">{{ order.documents | length }} documents</span>
                                            </summary>
                                            <div class="govuk-details__text">
                                                {% for d in order.documents %}
                                                    {{ d.fileName }}{% if not loop.last %}<br>{% endif %}
                                                {% endfor %}
                                            </div>
                                        </details>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="govuk-pagination">
                    <div class="govuk-pagination__summary">Showing 1 – {{ orders | length }} of {{ counts[filters['type']] }} orders</div>
                </div>
            {% else %}
                <p class="govuk-!-font-weight-bold">No orders found</p>
            {% endif %}

        </section>
    </div>

{% endblock %}
