


{% macro errorSummary(form) %}
    {% set errors = form.vars.errors.form.getErrors(true) %}
    {% if errors | length %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for error in errors %}
                        {% set elementPath =  error.cause.propertyPath | replace({'data.': ''}) %}
                        <li><a href="#form-group-{{ elementPath }}">{{ error.message }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro notification(alertType, message) %}
<div class="push--top behat-region-flash">
    <div class="govuk-alert {{ alertType is defined ? 'govuk-alert--' ~ alertType }}">
        {% if alertType is defined %}
        <span class="govuk-icon govuk-icon--{{ alertType }}"></span>
        {% endif %}
        <div class="govuk-alert__message">
            {% if message is iterable %}
                <h2 class="govuk-heading-s">{{ message.title | trans }}</h2>
                <p>
                    {{ message.caseNumber is defined ? 'order.caseNumber' | trans({'%caseNumber%': message.caseNumber}) }}
                    {{ (message.caseNumber is defined and message.clientName is defined) ? '<br/>'}}
                    {{ message.clientName is defined ? 'order.clientName' | trans({'%clientName%': message.clientName})}}
                </p>
                {% if message.body is defined %}
                    <p>{{ message.body | trans }}</p>
                {% endif %}
            {%  else %}
                <p>{{ message | trans }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}
