{% set translationDomain = "popup-timeout" %}
{% trans_default_domain translationDomain %}

{#Using data attributes to pass twig vars to javascript#}
<div class="session-timeout-underlay"
     data-session-expires="{{ session_expires_seconds|default(1500) }}"
     data-session-popup-show-after="{{ session_popup_show_after|default(1200) }}"
     data-keep-alive-url="{{ path('session-keep-alive') }}">
</div>

<div id="timeoutPopup" data-role="timeout-popup" class="session-timeout js-session-timeout">
    <div class="session-timeout-dialog">

        <h1 class="govuk-heading-l push-half--top">{{ 'component.title' | trans }}</h1>

        <p>{{ 'component.firstLine' | trans({
                '%inactiveFor%': (session_popup_show_after / 60) | round(2, 'floor'),
                '%loggedOutIn%': ((session_expires_seconds - session_popup_show_after) / 60) | round(2, 'floor')
            }) }}</p>

        <p>{{ 'component.secondLine' | trans }}</p>

        <form name="session-timeout-form" action="/logout">
            <button type="button" name="continue" class="govuk-button js-ok-button" data-module="govuk-button">{{ 'component.ok' | trans }}</button>
            <button type="submit" name="submit" class="govuk-button govuk-button--secondary govuk-!-margin-left-3 js-signout-button" data-module="govuk-button">{{ 'component.signOut' | trans }}</button>
        </form>

    </div>
</div>
