{% extends 'AppBundle:Layouts:base-template.html.twig' %}
{% form_theme form 'AppBundle:Form:govuk_frontend.html.twig' %}

{% block htmlTitle %}Create Order{% endblock %}
{% block pageTitle %}Create Order{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        <div class="govuk-grid-column-one-third">
            <p class="govuk-body"><strong>Case number:</strong><br> {{ client.caseNumber }}</p>
            <p class="govuk-body"><strong>Client:</strong><br>{{ client.clientName }}</p>
        </div>
    </div>
{% endblock %}