{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block htmlTitle %}Cases{% endblock %}
{% block pageTitle %}Cases{% endblock %}

{% block content %}
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Case number</th>
                <th class="govuk-table__header" scope="col">Order type</th>
                <th class="govuk-table__header" scope="col">Client</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for order in orders %}
                {% set client = order.client %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="{{ path('order', {'orderId': order.id}) }}" id="order-{{ client.caseNumber }}-{{ order.type }}">
                            {{ client.caseNumber }}
                        </a>
                    </td>
                    <td class="govuk-table__cell">{{ order.type }}</td>
                    <td class="govuk-table__cell">
                        {{ client.clientName }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}