{% import 'Macros/_macros.html.twig' as macro %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full text--center">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {{ macro.titleWithSideSubtitle(stats.totalOrders.amount, stats.totalOrders.description) }}
            </div>

            <div class="govuk-grid-column-one-half">
                <div class="govuk-form-group push--right">
                    <label class="govuk-label" for="sort">
                        {{ stats.filter.label }}
                    </label>
                    <select class="govuk-select push--right" id="sort" name="sort">
                        {% for selectOption in stats.filter.options %}
                            {{ selectOption.value }}
                            <option value="{{ selectOption.value }}">{{ selectOption.description }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full text--center">
        {% include 'Case/_stats_items.html.twig' with { items: stats.breakdownItems } %}
    </div>
</div>
