{% extends 'base.html.twig' %}


{% block pageTitle %}
    <span class="govuk-caption-l">{{ order.client.caseNumber }} {{ order.client.clientName }}</span>
    <h1 class="govuk-heading-l">{{ ('order.' ~ order.type) | trans }} order</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('uploadCO') }}
{% endblock %}

{% block content %}
    <p class="govuk-body-l">Upload the Microsoft Word version of the court order for {{ order.client.clientName }}</p>
    <p class="govuk-body">If you cannot find the Word version, scan and upload the order instead</p>

    <div id="court-order" class='dropzone'>
        <div class="dz-default dz-message govuk-body">
            <div class="govuk-grid-column-one-third arrow-icon"><p></p></div>
            <div class="govuk-grid-column-one-half"></div>
            <span class="dropzone__template__instruction">Drag and drop the Court order for <strong>{{ order.client.clientName }}</strong> here</span>
            <div class="govuk-!-font-weight-bold">or</div>
            <button class="govuk-button govuk-button--secondary" id="upload-doc-button">Choose documents</button>
        </div>
    </div>

    <form action='{{ path('order-summary', {'orderId': order.id}) }}' method='get' id="continue-form">
        <button type='submit' disabled='disabled' class='govuk-button' id='continue'>
            Continue
        </button>
        <input id="subType" name="subType" type="hidden" value=false>
        <input id="appointmentType" name="appointmentType" type="hidden" value=false>
        <input id="hasAssetsAboveThreshold" name="hasAssetsAboveThreshold" type="hidden" value=false>
    </form>


    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">How to find the court order.</span>
        </summary>
        <div class="govuk-details__text">
            <ol>
                <li>Open the PD folder</li>
                <li>From here, open the ? folder</li>
                <li>Then open the 'Court Orders' folder for the year the court order was made (eg: 'Court orders 2019')</li>
                <li>Search the folder for the court order number to find the matching files</li>
            </ol>

            <p>Remember to upload the word version of the court order</p>
        </div>
    </details>
{% endblock %}

{% block bodyEnd %}
    <div id="dropzone__template__file">
        <div class="dz-preview dz-file-preview">
            <div class="dz-details govuk-body">
                <div class="dz-filename"><span data-dz-name=""></span> <span class="dz-size" data-dz-size=""></span></div>
                <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                <div class="dz-error-message govuk-error-message"><span data-dz-errormessage=""></span></div>
            </div>
        </div>
    </div>

{% endblock %}
