<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>

    <meta charset="utf-8" />
    <title>{% block htmlTitle %}{% endblock %} - Digicop - GOV.UK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ 'images/favicon.ico' | assetUrl }}" type="image/x-icon" />
    <link rel="mask-icon" href="{{ 'images/govuk-mask-icon.svg' | assetUrl }}" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'images/govuk-apple-touch-icon-180x180.png' | assetUrl }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ 'images/govuk-apple-touch-icon-167x167.png' | assetUrl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'images/govuk-apple-touch-icon-152x152.png' | assetUrl }}">
    <link rel="apple-touch-icon" href="{{ 'images/govuk-apple-touch-icon.png' | assetUrl }}">

    <link href="{{ 'stylesheets/application.css'| assetUrl }}"  rel="stylesheet" type="text/css">

    {# The default og:image is added below head so that scrapers see any custom metatags first, and this is just a fallback #}
    <meta property="og:image" content="{{ 'images/govuk-opengraph-image.png' | assetUrl }}">
</head>

<body class="govuk-template__body -debug">
    {% block bodyStart %}{% endblock %}
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% block skipLink %}
        <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    {% endblock %}

    {# TODO: Cookie banner should be here. Look at app-cookie-banner on GDS #}

    <header class="govuk-header" role="banner" data-module="header">
        <div class="govuk-header__container govuk-width-container">

            <div class="govuk-header__content">

                <a href="/" class="govuk-header__link govuk-header__link--service-name">DigiCop</a>

                <button role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
                <nav>
                    <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
                    {% block navLinks %}
                        {% set currentRoute = app.request.attributes.get('_route') %}
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="govuk-header__navigation-item {{ currentRoute =='login' ? 'govuk-header__navigation-item--active' : '' }}">
                                <a class="govuk-header__link" href="{{ path('login') }}">Sign in</a>
                            </li>
                        {% else %}
                            <li class="govuk-header__navigation-item {{ currentRoute =='case-list' ? 'govuk-header__navigation-item--active' : '' }}">
                                <a class="govuk-header__link" href="{{ path('case-list') }}">Cases</a>
                            </li>
                            <li class="govuk-header__navigation-item {{ currentRoute =='upload-csv' ? 'govuk-header__navigation-item--active' : '' }}">
                                <a class="govuk-header__link" href="{{ path('upload-csv') }}">Upload cases</a>
                            </li>
                            <li class="govuk-header__navigation-item">
                                <a class="govuk-header__link" href="/logout">Sign out</a>
                            </li>
                        {% endif %}
                     {% endblock %}
                    </ul>
                </nav>

            </div>
        </div>
    </header>

    {% block main %}
        <div class="govuk-width-container">

            {% block beforeContent %}
                {# <a href="#" class="govuk-back-link">Back</a> #}
            {% endblock %}

            <main class="govuk-main-wrapper" id="main-content" role="main">
                {% block validationSummary %}{% endblock %}
                {% block notifications %}
                    {# <div class="govuk-alert govuk-alert--notification">
                        <span class="govuk-icon govuk-icon--notification"></span>
                        <div class="govuk-alert__message">
                            <p>Nobis at eos odit. In totam cupiditate corrupti aut reprehenderit ea repudiandae. Aut enim assumenda molestiae.</p>
                        </div>
                    </div> #}
                {% endblock %}
                {% block pageTitle %}{% endblock %}
                {% block content %}{% endblock %}
            </main>

        </div>
    {% endblock %}

    {% block footer %}
        <footer class="govuk-footer" role="contentinfo">
            <div class="govuk-width-container">

                <div class="govuk-footer__meta">
                    <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                        <h2 class="govuk-visually-hidden">Support links</h2>
                        <ul class="govuk-footer__inline-list">
                            <li class="govuk-footer__inline-list-item">
                                Built by <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian" class="govuk-footer__link">the Office of the Public Guardian</a>
                            </li>
                        </ul>
                        <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                            <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                        </svg>

                        <span class="govuk-footer__licence-description">
                          All content is available under the
                          <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                          {% if version_app %}<br>v {{ version_app }}{% endif %}
                        </span>
                    </div>
                    <div class="govuk-footer__meta-item">
                        <a
                            class="govuk-footer__link govuk-footer__copyright-logo"
                            href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
                        >© Crown copyright</a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ 'js/application.js'| assetUrl }}"></script>
    {% endblock %}

    {# TODO: Add build tag to footer #}

    {% block bodyEnd %}{% endblock %}

</body>
</html>
