{% extends 'base.html.twig' %}
{% form_theme form 'Form/govuk_frontend.html.twig' %}

{% block htmlTitle %}Add new user{% endblock %}

{% block beforeContent %}
    <a href="{{ path('view-users') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block pageTitle %}
    <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Users</span>
        Add new
    </h1>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.email, { help: 'user.add.email.activationHint' }) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.phoneNumber) }}
                {{ form_row(form.roleName) }}

                <div class="govuk-form-group">
                    {{ form_widget(form.submit, { label: 'user.add.submit.label' }) }}

                    <a href="{{ path('view-users') }}" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        {{ 'common.cancel.label' | trans([], 'forms') }}
                    </a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
