{% extends 'App:Layouts:base-template.html.twig' %}
{% form_theme form 'App:Form:govuk_frontend.html.twig' %}
{% import 'App:Macros:_macros.html.twig' as macro %}

{% block htmlTitle %}Reset your password{% endblock %}
{% block pageTitle %}
    <h1 class="govuk-heading-xl">Reset your password</h1>
{% endblock %}

{% block validationSummary %}
    {{ macro.errorSummary(form) }}
{% endblock %}

{% block content %}

    <p>To reset your password, type your new password in the box below and then confirm the password in the second box</p>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ form_start(form) }}
            {{ form_row(form.password) }}
            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>

    <p>
        <a href="{{ path('login') }}">Return to sign in</a>
    </p>

{% endblock %}
