{% extends 'Layouts/base-template.html.twig' %}
{% form_theme form 'Form/govuk_frontend.html.twig' %}
{% import 'Macros/_macros.html.twig' as macro %}

{% block htmlTitle %}Forgotten your password?{% endblock %}
{% block pageTitle %}
    <h1 class="govuk-heading-xl">Forgotten your password?</h1>
{% endblock %}

{% block validationSummary %}
    {{ macro.errorSummary(form) }}
{% endblock %}

{% block content %}

    <p>To reset your password, enter your email address below. We'll send you a link to reset your password.</p>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>

    <p>
        <a href="{{ path('login') }}">Return to sign in</a>
    </p>

{% endblock %}
